.arch-landing-page-background {
  background: url(../images/arch-landing-page-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.alp-button {
  margin-top: 200px;
  margin-bottom: 50px;
}