.landing-page-background {
  background: url(../images/landing-page-background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome {
  margin-top: 250px;
  margin-bottom: 170px;
  color: #fff;
}

.welcome-text {
	font-size: 5em;
  text-shadow: 2px 2px black;
}

.welcome-text-sub {
	font-size: 3em;
}