.landing-page-background {
  background: url(../images/landing-page-background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome {
  margin-top: 50vh;
  margin-bottom: 35vh;
  color: #fff;
}