@import 'landing-page';
@import 'landing-page-images';
@import 'arch-landing-page';
@import 'company-landing-page';
@import 'archaeologist-profile';
@import 'company-profile';
@import 'form';
@import 'profile-forms';
@import 'excavation';
@import 'navbar';
@import 'search';
@import 'page-break';

.jumbotron {
  background: rgba(220, 220, 220, 0.5);
}

.jumbotron-small {
  color: rgba(32, 32, 32, 0.7);
}

.mc-background {
  background: #fff;
}

.coming-soon {
  margin-top: 200px;
  margin-bottom: 200px;
}

.logo {
  width: 4%;
  min-width: 50px;
}

footer {
  border-top: 1px solid #eee;
  background: #f5f5f5;
  padding: 30px 0;
  color: #ccc;
}