@import 'landing-page';
@import 'landing-page-images';
@import 'arch-landing-page';
@import 'company-landing-page';
@import 'archaeologist-profile';
@import 'company-profile';
@import 'form';
@import 'navbar';
@import 'search';
@import 'page-break';

.jumbotron {
  background: rgba(220, 220, 220, 0.5);
}

footer {
  border-top: 1px solid #eee;
  background: #f5f5f5;
  padding: 30px 0;
  color: #ccc;
}